<div>Chores for <%= Date.today %> for Dolo 283</div>
<div>Today's Dish Disposer is <%= @person1 %>.</div>
<div>Today's Counter Cleaner is <%= @person2 %>.</div>
<div>Today's Trash Talker is <%= @person3 %>.</div>
